<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Barker and Grant</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"

    </head>

    <body>

        <!-- fixed-top  -->
        <!-- bg-white -->

        {% include 'navbar.html'%}
        <img class="img-fluid w-100 bg-light" src="{{url_for('static', filename='images/headers.svg')}}">

        <section id="home" class="jumbotron jumbotron-fluid text-center bg-light pt-10">
            <div class="container">
                <h1 class="display-4 grant">Your Employment Journey Starts Here</h1>
                <p class="lead">Connecting talents with opportunities</p>

                <p class="text-muted">Explore job opportunities in various industries.</p>
            </div>
        </section>


        <section id="about" class="section bg-light ">
            <div class="container text-center">
                <h2 class="grant">About Us</h2>
                <p class="lead">Learn about our mission and values</p>
                

                <p class="text-muted">
                    Welcome to Barker & Grant, where exceptional service meets versatility. At our core, we are dedicated to providing tailored solutions to meet the diverse needs of our clients. From professional cleaning services for both commercial and domestic spaces to waste collection and efficient removals, we pride ourselves on delivering excellence in every task. Our commitment extends to childcare with a trusted babysitting service, pet sitting for your furry companions, and even versatile assistance through housekeeping and personal assistant services. With a focus on reliability, safety, and client satisfaction, Barker & Grant is your go-to partner for a seamless and stress-free experience across various aspects of your life.
                </p>
            
            
            </div>
        </section>


        <section id="services" class="section bg-light">
            <div class="container text-center">
                <h2 class="grant pb-5 pt-5">Our Services</h2>
                

                <div class="row">
                    <div class="col-md-4">
                        <h4>Cleaning Services</h4>
                        <p class="text-muted">
                            At Barker & Grant we offer commercial and domestic cleaning. However our commercial service is provided to our trusty business partners with whom have annual contracts with us. However if you are a business in need of low maintenance cleaning services and need a weekly cleaner then give us a call for a quote and we will see how we can assist. For this service we will normally allocate 1 cleaner per contract however our staff members may be demanded elsewhere and we will provide you with an experienced cleaner as replacement. We do not provide machinery and our workers are not permitted to use any machinery unless trained to do so.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4>Waste</h4>
                        <p class="text-muted">
                            Barker & Grant offer Small waste collection - commercial or domestic, we are avaliable for bookings in advance or same day collection (depending on availability). Cost of labour will vary depending on how much waste you have but don't be shy to contact us for a quote.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4>Removals</h4>
                        <p class="text-muted">
                            Barker & Grant removals service operates solely as an agency service to businesses. We do not offer any man and a van service itself, we provide removal companies with trained agency staff at a fixed daily rate. Staff are avaliable for labour only, if a driver is needed then this needs to be specified as we only have limited availability for drivers.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h4>House Keeping/Personal Assistant</h4>
                        <p class="text-muted">
                            Barker & Grant house keeping service provides clients with temporary help around the house from cleaning to organisation to serving food. Our staff are highly trained and we pride ourselves in giving the clients a stress-free service. 
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Section (Contact Us) -->
        <footer class="footer section" style="color: #044474;;">
            <div class="container text-center" id="contact">
                <h2 class="pt-5" >Contact Us</h2>
                <!-- Mock data -->
                <p class="text-black">
                    Have questions or need assistance? Our dedicated team is ready to help you. Reach out to us for personalized support and guidance.
                </p>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <p >
                            <strong>Email:</strong> barkerandgrant@gmail.com
                        </p>
                        <p >
                            <strong>Phone:</strong> 07393245217
                        </p>
                        <p >
                            <strong>Location:</strong> London, Greater London
                        </p>
                    </div>
                </div>

            
            </div>
        </footer>

        <!-- Bootstrap JS and Popper.js (Order is important) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
